





<h3 style="font-size: 33px;padding-top: 191px;margin-left:64px ; font-family: 'desyrelregular';"> 
  " L'autisme est un soleil inversé : ses rayons sont dirigés vers l'intérieur " 
</h3>

<div id="login"></div>

  <a href="" title=""> <%= link_to "Inscrire", signup_path , class:"button expand" , style: 'background-color: #00463F' %></a>
  


<!-- <a href="#" class="button expand" style= " margin-top: -44px; background-color: #00463F;
" >
  Inscrivez-vous
</a> -->

<div class="row" style=" margin-top: 104px; margin-left: 136px;">
  <div class="small-2 large-4 columns" class="circular"> 
    <div class="circular"> 
      <p style="padding-top: 16px;margin-left: 83px;"> 
      <%= image_tag("parents32.png", alt: "Promo Image") %> 
        </p> 
    </div>
  </div>
  <div class="small-4 large-4 columns">
    <div class="circular1"> 
      <p style="padding-top: 9px; margin-left: 65px"> 
        <%= image_tag("heart64.png", alt: "Promo Image") %> 
      </p>  
    </div>
  </div>
  <div class="small-6 large-4 columns">
    <div class="circular2">
      <p style="padding-top: 6px;padding-left: 62px;"> 
        <%= image_tag("prog64.png", alt: "Promo Image") %> 
      </p> 
    </div>
  </div>
</div>

