// Place all the styles related to the Presentation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
    font-family: 'desyrelregular';
    src: url('desyrel-webfont.eot');
    src: url('desyrel-webfont.eot?#iefix') format('embedded-opentype'),
         url('desyrel-webfont.woff') format('woff'),
         url('desyrel-webfont.ttf') format('truetype'),
         url('desyrel-webfont.svg#desyrelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}






body{ background-image : url(mainbaby4.jpg);background-repeat: no-repeat;}


#login{
   
    top: 33px;
    padding: 36px 6% 92px 32px;
    margin: -86px 0 0px -140px;
    background:  #00463F;
    border: 1px solid  #00463F;
    -moz-box-shadow:
        0pt 3px 8px rgba(105, 108, 109,  0.7), 
        0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    
     opacity:0.5;
}
#citation{
	
}

.circular {
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	/*background: url(http://link-to-your/image.jpg) no-repeat;*/
	background-color : #C63763;
	opacity : 0.7 
	}

	.circular1 {
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	/*background: url(http://link-to-your/image.jpg) no-repeat;*/
	background-color : #FA3544;
	opacity : 0.7 
	}

	.circular2 {
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	/*background: url(http://link-to-your/image.jpg) no-repeat;*/
	background-color : #7D3B56;
	opacity : 0.7 
	}