// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#signup{
   
    
    padding: 36px 6% 18px 48px;
    margin: -86px 0 0px -140px;
    background:  black;
    border: 1px solid  black;
    -moz-box-shadow:
        0pt 3px 8px rgba(105, 108, 109,  0.7), 
        0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    
     opacity:0.5;

    margin-top: 10px;
    margin-left: 250px;
    width: 566px;

}